./sourceCode/Data/precessed_tokens.csv
./sourceCode/Data/precessed_contracts.csv
./sourceCode/Data/precessed_token_contract.csv
./sourceCode/DB/data.db
./sourceCode/Log
./sourceCode/Preprocessing
./sourceCode/sample_500_results/isBlackList_results.csv
./sourceCode/sample_500_results/isHoneyPot_results.csv
./sourceCode/sample_500_results/isMintable_results.csv
./sourceCode/sample_500_results/isProxy_results.csv
./sourceCode/sample_500_results/transferPausable_results.csv
./sourceCode/ScraperScript/.env
./sourceCode/ScraperScript/config.py
./sourceCode/analysisScript.py
./sourceCode/mainScript.py
./sourceCode/nohup.out
./sourceCode/runAnalysisScript.sh
./sourceCode/SC_Classifier.py
./sourceCode/ScraperScript/config.py